.buttons {
    color:var(--text-color-secundary);

}

.buttons:hover {
    color:var(--brand-color-light);
}



.header.bottom span:hover {
  color: var(--brand-color-light);
  cursor:pointer;
}

.icon-content_box:hover span,
.icon-content_box:hover svg {
    fill: var(--brand-color-light);
    color: var(--brand-color-light);
    cursor: pointer;
}

.icon-content_box {
    cursor: pointer;
}

.closebutton svg {
    fill: var(--brand-color-light);
}
