.news_card1{
    background-image: url("/Assets/Images/Image06.png");
    background-size: contain;
    
}

.news_card2{
    background-image: url("/Assets/Images/Image07.png");
    background-size: contain;
    
}

.news_card3{
    background-image: url("/Assets/Images/Image08.png");
    background-size: contain;
    
}

.news_card4{
    background-image: url("/Assets/Images/Image09.png");
    background-size: contain;
    
}




