header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 72px;

    padding: 20px 32px 20px 32px;
}

header .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 48px;

    padding: 14px 32px 14px 32px;

    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #1E293B;
}

.icon1::before {
    background-image: url("../Assets/Icons/fold_icon.png");
}

.icon2::before {
    background-image: url("../Assets/Icons/search_icon.png");
}