.hcard1::before {
    background-image: url("../Assets/Images/Image1.png"); /* Colocar caminho das imagens */
}
.hcard2::before {
    background-image: url("../Assets/Images/Image2.png"); 
}
.hcard3::before {
    background-image: url("../Assets/Images/Image3.png"); 
}
.hcard4::before {
    background-image: url("../Assets/Images/Image4.png"); 
}
.hcard5::before {
    background-image: url("../Assets/Images/Image5.png"); 
}