/*
    ==========================
        Highlight Section 1
             (Left)
    ==========================
*/

.hl1-cardimg1, .hl1-cardimg2, .hl1-cardimg3, .hl1-cardimg4 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    overflow: hidden;
}

.hl1-cardimg1 {
    background-image: url("/Assets/Images/Image10.png");
}

.hl1-cardimg2 {
    background-image: url("/Assets/Images/Image11.png");

}

.hl1-cardimg3 {
    background-image: url("/Assets/Images/Image12.png");
}

.hl1-cardimg4 {
    background-image: url("/Assets/Images/Image13.png");
}



/*
    ==========================
        Highlight Section 2
             (Right)
    ==========================
*/

.advertisment-card {
    background-image: url("/Assets/Images/advertisment.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hl2-cardimg1, .hl2-cardimg2, .hl2-cardimg3, .hl2-cardimg4, .hl2-cardimg5 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    overflow: hidden;
}

.hl2-cardimg1 {
    background-image: url("/Assets/Images/Image14.png");
}
.hl2-cardimg2 {
    background-image: url("/Assets/Images/Image15.png");
}
.hl2-cardimg3 {
    background-image: url("/Assets/Images/Image16.png");
}
.hl2-cardimg4 {
    background-image: url("/Assets/Images/Image17.png");
}
.hl2-cardimg5 {
    background-image: url("/Assets/Images/Image18.png");
}



/*
    ==========================
        Hover Configuration
    ==========================
*/

.hl-card1:hover, .hl-card2:hover {
    cursor: pointer;;
}

.advertisment-card:hover {
    cursor: pointer;
}