/*
    =========================
        Header/Navbar
    =========================
*/

header {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-height: 120px;
}

.icon_container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
    width: 20px;
    height: 20px;

    overflow: visible;
}

.icon_container::before {
    content: "";
    display: block;
    width: 15.62px;
    height: 11.88px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.icon-content_box {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
}